@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body{
  color: #252525;
  font-family: 'Noto Sans JP', sans-serif;
}
a{
  color: #252525;
}

.has-text-primary,
a.has-text-primary{
  color: #00A043 !important;
}

a.has-text-primary:hover{
  opacity: 0.7;
}

.icon.icon-slim{
  width: auto;
}

.c-header_toplinkitem .icon{
  margin-top: 1px;
}

.navbar-brand img{
  max-height: 40px;
}

.button{
  font-size: 15px;
  font-weight: bold;
  padding: 12px 30px;
  height: auto;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1);
  font-family: 'Noto Sans JP', sans-serif !important;
}
.button.is-primary{
  background: #00A043 !important;
}
.button.is-dark{
  background: #E04949 !important;
}

/* header */
.c_mainnav{
  display: flex;
  border-right: 1px solid #eee;
}
.c_mainnav a{
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-left: 1px solid #eee;
}
.c_mainnav img,
.c_mainnav span{
  vertical-align: middle;
}
.c_mainnav img{
  margin-right: 5px;
}

/* top section header */
.c-sectionh_icon{
  background: #E9FEF0;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #00A043;
  border-radius: 30px;
}
.c-sectionh_icon img{
  vertical-align: middle;
}
.c-sectionh .title{
  font-size: 25px;
  margin-bottom: 1em;
  letter-spacing: 0.07em;
}
.c-sectionh .subtitle{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
}