@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body{
  color: #252525;
  font-family: 'Noto Sans JP', sans-serif;
}
a{
  color: #252525;
}

.has-text-primary,
a.has-text-primary{
  color: #00A043 !important;
}

a.has-text-primary:hover{
  opacity: 0.7;
}

.icon.icon-slim{
  width: auto;
}

.c-header_toplinkitem .icon{
  margin-top: 1px;
}

.navbar-brand img{
  max-height: 40px;
}

.button{
  font-size: 15px;
  font-weight: bold;
  padding: 12px 30px;
  height: auto;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1);
  font-family: 'Noto Sans JP', sans-serif !important;
}
.button.is-primary{
  background: #00A043 !important;
}
.button.is-dark{
  background: #E04949 !important;
}
.button.is-light{
  background: #E9FEF0 !important;
  color: #00A043 !important;
  box-shadow: none;
  border: 1px solid #00A043;
}

.has-background-primary{
  background: #00A043 !important;
}
.has-background-primary-light{
  background: #E9FEF0 !important;
}
@media screen and (min-width: 1024px){
  .section {
      padding: 16px 0;
  }
}
form .field{
  margin-bottom: 20px !important;
}
form button{
  margin: 0 auto;
}
.button-red{
  background: rgba(224, 73, 73, 1);
  color: #fff;
  display: block;
  border: 0;
}
.button-red:hover{
  color: #fff;
  opacity: 0.8
}

.gap-1{
  gap: 0 8px;
}

p{
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 1.7;
}
.title,
.sub-title{
  letter-spacing: 0.04em;
}

.tag.red{
  padding: 0 4px;
  border : 1px solid #E04949 !important;
  color: #E04949 !important;
  font-family: brandon-grotesque, sans-serif;
  height: 1.8em;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.04em;
  font-size: 11px;
  margin-right: 4px;
}

/* header */
header{
  background: #fff;
}
.c_mainnav{
  display: flex;
  border-right: 1px solid #eee;
}
.c_mainnav a{
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-left: 1px solid #eee;
}
.c_mainnav img,
.c_mainnav span{
  vertical-align: middle;
}
.c_mainnav img{
  margin-right: 5px;
}
.clone-nav {
  position: fixed;
  top: -100px;
  left: 0;
  transition: all .5s;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
  z-index: 111;
  width: 100%;
  padding: 12px 0;
}
.clone-nav.is-fixed-nav {
  top: 0;
  z-index: 111;
}
.c_mainnav,
.navbar,
.header-top{
  display: none !important;
}
.navbar .button{
  font-size: 13px;
}
@media screen and (min-width: 769px){
  .navbar-brand{
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
  }
  .navbar, .navbar-end, .navbar-menu, .navbar-start, .header-top, .c_mainnav {
    align-items: stretch;
    display: flex !important;
  }
  .navbar-end {
    align-items: stretch;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
  .c_mainnav,
  .navbar{
    display: flex;
  }
}
.sp-header,
.sp-nav,
.sp-header,
#hamburger{
  display: none;
}
@media screen and (max-width: 768px){ /* スマホの場合 */
  .sp-header{
    display: block;
    top: 0;
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 111;
    box-shadow: 0 0 10px rgba(0,0,0,.1)
  }
  .navbar-item{
    justify-content: center;
    padding: 12px 0;
  }
  .sp-header img{
    height: 28px;
  }
  .sp-header{
    text-align: center;
  }
  .navbar-item{
    display: inline-block !important;
  }
  main{
    margin-top: 52px;
  }
  #hamburger {
    position: absolute;
    display: block;
    width: 25px;
    height: 22px;
    margin: 0 0 0 auto;
    right: 10px;
    top: 16px;
    cursor: pointer;
 }
  #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #00A043;
    transform: translateY(-50%);
  }
  #hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00A043;
 }
 #hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #00A043;
 }
 .sp-nav {
    z-index: 111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: #00a043f5;
    transition: all .4s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
  }
  .sp-nav.active{
    opacity: 1;
    transform: translateY(0%);
  }
  .sp-nav-ineer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
 }
 .sp-nav-ineer ul{
   width: 100%;
 }
 .sp-nav li {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
 }
 .sp-nav li:not(:last-child){
  border-bottom: 1px solid rgba(255,255,255,0.2)
 }
 .sp-nav li span {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
 }
 .sp-nav li a, .sp-nav li span {
    display: block;
    padding: 7px 0;
 }
 .sp-nav .close {
  margin-top: 30px;
  cursor: pointer;
  font-family: brandon-grotesque, sans-serif;
 }
 .sp-nav .close span{
    font-size: 14px;
    color: #fff;
 }
 /*基準となるli要素*/
  .sp-nav .close {
    position: relative;
    padding-left: 20px;
  }
  /*バツ印線1*/
  .sp-nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( 45deg );
  }
  /*バツ印線2*/
  .sp-nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( -45deg );
  }
}

@media screen and (max-width: 1070px){
  .c_mainnav a{
    flex-basis:auto
  }
}
.tabs{
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: bold;
}
.tabs ul{
  padding-bottom: 1px;
  border-bottom: 2px solid #00A043;
}
.tabs ul a{
  border-width: 0 !important;
}
.tag{
  border: 1px solid #888 !important;
  color: #888 !important;
  background: #fff !important;
  font-size: 12px;
  height: 1.9em !important;
}
.box{
  box-shadow: none;
  border: 1px solid #eee;
}
.pagination-list{
  font-family: brandon-grotesque, sans-serif;
  font-size: 14px;
}
.pagination-previous,
.pagination-next{
  background: #00A043;
  color: #fff;
  border-color: #00A043;
}
.pagination-previous:hover,
.pagination-next:hover{
  color: #fff;
  opacity: 0.8;
  border-color: #00A043;
}
.pagination-link.is-current{
  border-color: #00A043;
  background: #fff;
  color: #00A043;
}

/* top section header */
.main-slide{
  background-image: url("../img/slide-bg.jpg");
  background-position: 0 40px;
  background-repeat-y: no-repeat;
  margin-top: 20px;
  background-size: cover;
}
.swiper{
  padding-bottom: 50px !important;
}
.swiper-pagination{
  bottom: 19px !important;
}
.swiper-pagination-bullet-active{
  background: #00A043 !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-rtl .swiper-button-next{
 background: hsla(145, 100%, 31%, 0.9);
 height: 60px !important;
 width: 60px !important;
 border-radius: 30px;
}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 20px !important;
  color: #fff;
}
.c-sectionh_icon{
  background: #E9FEF0;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #00A043;
  border-radius: 30px;
}
.c-sectionh_icon img{
  vertical-align: middle;
}
.c-sectionh .title{
  font-size: 25px;
  margin-bottom: 1em;
  letter-spacing: 0.07em;
}
.c-sectionh .subtitle{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.c-info_list{
  font-size: 13px;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}
.c-under_info{
  margin-top: 8px;
}
.article-list .title{
  margin-bottom: 8px;
  line-height: 1.6em;
  letter-spacing: 0.04em;
}
.article-list figure{
  margin-bottom: 8px;
}
.artilce-item{
  margin-bottom: 8px;
}
.under-article{
  font-size: 13px;
}
.dete{
  margin-left: 8px;
  color: #888;
  font-family: brandon-grotesque, sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.img-block a{
  border: 1px solid #eee;
  text-align: center;
  height: 180px;
  margin-bottom: 8px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: #fff;
}
.img-block img{
  max-width: 80%;
  vertical-align: middle;
  height: auto;
}
.products-name{
  font-size: 14px;
  margin-bottom: 4px;
}
.brand-name{
  font-size: 13px;
  color: #888;
}
.price{
  font-family: brandon-grotesque, sans-serif;
  margin: 0 4px;
  font-weight: 500;
}
.price span{
  font-weight: 600;
}
.corp-name{
  font-size: 11px;
  color: #888;
}
.interview-item .box{
  padding: 0;
  position: relative;
}
.interview-item .box::after{
  content: "";
  height: 10px;
  width: 10px;
  border-top: 10px solid transparent;
  border-right: 10px solid #E04949;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.interview-item a{
  display: block;
  padding: 1.25rem;
}
.interview-info{
  text-align: center;
}
.interview-name{
  font-size: 16px;
  font-weight: bold;
}
.button-all{
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 14px;
  margin-top: 16px !important;
}

.maincolumn{
  max-width: 750px;
}
@media screen and (min-width: 1216px){
  .sidebar{
    min-width: 300px;
    padding: 0;
  }
}
@media screen and (min-width: 1216px){
  .maincolumn{
    margin-right: 40px;
    padding: 0;
  }
}
@media screen and (min-width: 1216px){
  .container:not(.is-max-desktop) {
      max-width: 1100px;
  }
}
@media screen and (min-width: 1408px){
  .container:not(.is-max-desktop) {
      max-width: 1100px !important;
  }
}
@media screen and (max-width: 1215px){
  .container.is-widescreen:not(.is-max-desktop) {
      max-width: 1152px;
      padding-left: 10px;
      padding-right: 10px;
  }
}

.article-image-wrap{
  margin-bottom: 8px;
  overflow: hidden;
  position: relative;
  height: 214px;
}
.article-category-label{
  background: #00A043;
  color: #fff;
  padding: 6px 8px;
  font-weight: bold;
  line-height: 1em;
  font-size: 13px;
  letter-spacing: 0.04em;
  bottom: 10px;
  left :0;
  position: absolute;
}
.article-image-wrap img{
  object-fit: cover;
  border-radius: 8px;
  height: 214px;
  max-width: auto;
  width: 100%;
}

.main-wrap{
  padding-top: 43px;
}
.main-wrap .columns{
  margin-top: 0;
  margin-bottom: 0;
}

/* sidebar */
.sidebar-images a{
  display: block;
  margin-bottom: 16px;
}
.search-wrap{
  position: relative;
}
.search-wrap button{
  background-image: url("../img/search-icon.svg");
  position: absolute;
  right: 10px;
  top: 4px;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: 0;
}
.sidebar-menu-label{
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid #00A043;
  color: #00A043;
  margin-bottom: 0 !important; 
}
.sidebar-menu-label img{
  vertical-align: middle;
  margin-right: 4px;
  display: inline-block;
}
.sidebar .sidebar-menu{
  margin-top: 32px;
}
.sidebar-menu-list{
  margin-bottom: 0;
}
.sidebar-menu-label-second{
  background: #00A043;
  color: #fff;
  padding: 4px 12px;
  font-weight: bold;
}
.menu-list a{
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 12px 12px;
  position: relative;
}
.menu-list a:after{
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: bold;
  position: absolute;
  right: 12px;
  top: 12px;
  color: #bdbdbd;
}
.menu-list a:hover{
  background :rgba(0, 0, 0, 0.04);
}
.menu-list li:not(:last-child){
  border-bottom: 1px solid #eee;
}

/* subpage */

.sub-title1{
  width: 100%;
  margin-bottom: 24px;
  position: relative;
}
.sub-title1 .title{
  padding: 13px 0;
  width: 100%;
  font-size: 24px;
}
.sub-title1 .title::before{
  content: "";
  display: block;
  width: 200px;
  height: 0;
  border-bottom: 3px solid #00A043;
  position: absolute;
  top: 0;
}
.sub-title1::before{
  content: "";
  display: block;
  width: 100%;
  height: 0;
  border-bottom: 3px solid #eee;
}
.sub-title1::after{
  content: "";
  display: block;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #eee;
}
.sub-title2{
  background: hsla(140, 91%, 95%, 1);
  font-size: 24px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-left: 8px solid #00A043;
  margin-bottom: 24px;
}
.sub-title3{
  border-left: 3px solid #00A043;
  padding-left: 16px;
  font-size: 18px;
  margin-bottom: 16px;
}

.page-title{
  text-align: center;
  padding-top: 0;
}
.page-title h1::after{
  content: "";
  display: block;
  width: 100px;
  height: 0;
  border-bottom: 2px dashed #00A043;
  margin: 20px auto;
}
.page-title p{
  font-size: 14px;
}
.page-title2.title{
  font-size: 34px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}
.breadcrumb-wrap{
  background: #fafafa;
  padding-top: 5px;
  padding-bottom: 5px;
}
.breadcrumb{
  font-size: 12px;
}
.breadcrumb a{
  color: #aaa;
}
.philosophy-list{
  border: 3px solid #eee; 
}
.philosophy-list .title{
  margin-bottom: 8px;
}
.philosophy-list li{
  padding: 24px;
}
.philosophy-list li:not(:last-child){
  border-bottom: 1px solid #eee;
}
.appeal-text{
  text-align: center;
}
.appeal-item-title.title{
  margin-bottom: 8px;
  font-size: 27px;
}
.appeal-item-title span{
  font-family: brandon-grotesque, sans-serif;
  margin-right: 8px;
}
.appeal-item:not(:last-child){
  margin-bottom: 8px;
}
.map-img{
  width: 100%;
  position: relative;
  text-align: center;
}
.partnership-menu .column{
  font-size: 14px;
}
.partnership-menu .title{
  color: #fff;
  padding: 8px 12px;
}
.partnership-menu .column-inner{
  height: 100%;
}
.partnership-map{
  position: relative;
}
.partnership-map .map-button button a{
  display: block;
  padding: 2px 8px 4px;
  padding-right: 20px;
  width: 102px;
} 
.partnership-map .map-button button{
  font-size: 12px;
  padding: 0;
  position: relative;
  text-align: center;
}
.partnership-map .map-button button a:after {
  font-family: "Font Awesome 5 Free";
  content: "\f063";
  font-weight: bold;
  position: absolute;
  right: 4px;
  top: 4px;
  color: #bdbdbd;
}
.map-button{
  position: absolute;
}
#map-button-1{
  right: 20%;
  top: 30%;
}
#map-button-2{
  top: 60%;
  right: 23%;
}
#map-button-3{
  top: 48%;
  left: 32%;
}
#map-button-4{
  top: 79%;
  right: 37%;
}
#map-button-5{
  top: 65%;
  left: 17%;
}
#map-button-6{
  top: 90%;
  left: 35%;
}
#map-menu-1 .column-inner{
  background: hsla(202, 55%, 73%, 0.2);
}
#map-menu-1 .title{
  background: #94C4E0;
}
#map-menu-2 .column-inner{
  background: hsla(159, 47%, 49%, 0.2)
}
#map-menu-2 .title{
  background: hsla(159, 47%, 49%, 1)
}
#map-menu-3 .column-inner{
  background: hsla(68, 64%, 55%, 0.2)
}
#map-menu-3 .title{
  background: hsla(68, 64%, 55%, 1)
}
#map-menu-4 .column-inner{
  background: hsla(38, 99%, 66%, 0.2)
}
#map-menu-4 .title{
  background: hsla(38, 99%, 66%, 1)
}
#map-menu-5 .column-inner{
  background: hsla(0, 100%, 85%, 0.2)
}
#map-menu-5 .title{
  background: hsla(0, 100%, 85%, 1)
}
.table{
  font-size: 13px;
  border-color: #eee;
}
.table th{
  background: rgba(250, 250, 250, 1);
  padding: 12px;
}
.table td{
  padding: 12px;
}
.table2 th{
  background: #fff;
}
.table2 td{
  text-align: right !important;
  color: #rgba(102, 102, 102, 1);
}
.product-top .page-subtitle > *{
  font-weight: bold !important
}
.product-images-item{
  border: 1px solid #eee;
  padding: 8px;
}
.product-images-item.is-current{
  opacity: 0.7;
}
.product-images-item img{
  max-width: 100%;
}
.product-color-image-inner{
  border: 1px solid #eee;
  padding: 12px;
}
.products-contact .contact{
  width: 100%;
  background: rgba(250, 250, 250, 1);
}
.contact-inner{
  max-width: 450px;
  margin: 0 auto;
}
.article-top-title .dete{
  margin-right: 8px;
}
.article-top-title .category-tag{
  color: rgba(18, 34, 88, 1) !important;
  border-color: rgba(18, 34, 88, 1) !important;
}
.article-top-title .title{
  margin-top: 12px;
  margin-bottom: 32px;
  font-size: 34px;
  letter-spacing: 0.1em;
  line-height: 1.3;
}
.article-detail-image{
  margin-bottom: 32px;
}
.article-main p{
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 24px !important;
}
.article-main .subtitle.is-4{
  background: #E9FEF0;
  color: #00A043;
  padding: 16px;
  font-size: 24px;
  margin-top: 40px !important;
  margin-bottom: 16px !important;
  line-height: 1.5;
}
.article-main .subtitle.is-5{
  padding-left: 28px;
  position: relative;
  line-height: 1.5;
  margin-top: 40px !important;
  margin-bottom: 16px !important;
}
.article-main .subtitle.is-5::before{
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 20px;
  background: #00A043;
  margin-right: 12px;
  left: 0;
  top: 15px;
}
.article-main .subtitle.is-6{
  line-height: 1.5;
  margin-top: 40px !important;
  margin-bottom: 16px !important;
  font-size: 18px;
  color: #00A043;
}
.article-detail-quote{
  background: #FAFAFA;
  padding: 16px 20px;
  color: #666;
  font-size: 14px !important;
  line-height: 1.3;
}
/* admin */
.admin{
  background: #fafafa;
  min-height: 100vh;
}
.login.section{
  max-width: 400px;
  margin: 0 auto;
  padding: 100px 0 100px;
}
.login-title{
  text-align: center;
  margin-bottom: 30px;
}
.admin-button-wrap{
  text-align: center;
  margin-top: 30px;
}
.admin-button-wrap button{
  margin-bottom: 10px;
}
.admin-button-wrap a{
  font-size: 14px;
  color: #00A043;
}
.mypage-header{
  background: #fff;
}