@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body{
  color: #252525;
  font-family: 'Noto Sans JP', sans-serif;
}
a{
  color: #252525;
}

.has-text-primary,
a.has-text-primary{
  color: #00A043 !important;
}

a.has-text-primary:hover{
  opacity: 0.7;
}

.icon.icon-slim{
  width: auto;
}

.c-header_toplinkitem .icon{
  margin-top: 1px;
}

.navbar-brand img{
  max-height: 40px;
}

.button{
  font-size: 15px;
  font-weight: bold;
  padding: 12px 30px;
  height: auto;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1);
  font-family: 'Noto Sans JP', sans-serif !important;
}
.button.is-primary{
  background: #00A043 !important;
}
.button.is-dark{
  background: #E04949 !important;
}

.has-background-primary{
  background: #00A043 !important;
}
.has-background-primary-light{
  background: #E9FEF0 !important;
}
.section{
  padding-left: 0;
  padding-right: 0;
}

.gap-1{
  gap: 0 8px;
}

/* header */
.c_mainnav{
  display: flex;
  border-right: 1px solid #eee;
}
.c_mainnav a{
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-left: 1px solid #eee;
}
.c_mainnav img,
.c_mainnav span{
  vertical-align: middle;
}
.c_mainnav img{
  margin-right: 5px;
}
.tabs{
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: bold;
}
.tabs ul{
  padding-bottom: 1px;
  border-bottom: 2px solid #00A043;
}
.tabs ul a{
  border-width: 0 !important;
}
.tag{
  border: 1px solid #888 !important;
  color: #888 !important;
  background: #fff !important;
  font-size: 12px;
  height: 1.9em !important;
}

/* top section header */
.c-sectionh_icon{
  background: #E9FEF0;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #00A043;
  border-radius: 30px;
}
.c-sectionh_icon img{
  vertical-align: middle;
}
.c-sectionh .title{
  font-size: 25px;
  margin-bottom: 1em;
  letter-spacing: 0.07em;
}
.c-sectionh .subtitle{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.c-info_list{
  font-size: 13px;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}
.c-under_info{
  margin-top: 8px;
}
.article-list .title{
  margin-bottom: 8px;
  line-height: 1.6em;
  letter-spacing: 0.04em;
}
.article-list figure{
  margin-bottom: 8px;
}
.artilce-item{
  margin-bottom: 8px;
}
.under-article{
  font-size: 13px;
}
.under-article .tag{
  padding: 0 4px;
  border : 1px solid #E04949 !important;
  color: #E04949 !important;
  font-family: brandon-grotesque, sans-serif;
  height: 1.8em;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.04em;
}
.dete{
  margin-left: 8px;
  color: #888;
  font-family: brandon-grotesque, sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.img-block a{
  border: 1px solid #eee;
  text-align: center;
  height: 150px;
  margin-bottom: 8px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.img-block img{
  max-width: 80%;
  vertical-align: middle;
  height: auto;
}
.products-name{
  font-size: 14px;
  margin-bottom: 4px;
}
.brand-name{
  font-size: 13px;
  color: #888;
}
.price{
  font-family: brandon-grotesque, sans-serif;
  margin: 0 4px;
  font-weight: 500;
}
.price span{
  font-weight: 600;
}